/* sijie */
html{
	height: 100%;
}

body{
	background: black;
	height: 100%;
}
.navbar{
	min-height: 70px !important;
}
.navbar .container{
	padding-top: 15px;
}
.navbar-default, .navbar-header{
	background: black;
	border: none;
}

.navbar-brand{
	color: white!important;
	font-size: 1.5em;
}
.navbar-default .navbar-nav>li>a{
	color: white!important;	
	background: black!important;
}
.container {
	padding-top: 70px;
}
.container img{
	max-width:400px;
}
.container p, .container h1, .container h2{
	color: white!important;
}
/* sijie content */
.content, #work, #about, #contact{
	display: none;
}

/* sijie bunny */

.bunny{
	background: white;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 330px;
	z-index: 100;
	-webkit-transition-duration: 500ms;
	-moz-transition-duration: 500ms;
	transition-duration: 500ms;
}
#ear-top{
/*	margin: 0 auto;
*/	width: 92px;
	height: 46px;
	background: transparent url('pic/ear-t.png') no-repeat 0 -2px;
/*	background-size: 120px;	*/
	
	position: absolute;
	right: 152px;
	top: 0px;
}
#ear-left{
	width: 46px;
	height: 75px;
	background: transparent url('pic/ear-l.png') no-repeat;
	position: absolute;
	left: 0px;
	top: 13px;
}
#ear-right{
	width: 44px;
	height: 80px;
	background: transparent url('pic/ear-r.png') no-repeat;
	position: absolute;
	right: 0px;
	top: 13px;
}
#eye-left{
	height: 40px;
	width: 58px;
	background: transparent url('pic/eye.png') no-repeat;
	position: absolute;
	top: 168px;
	right: 271px;
}
#eye-right{
	height: 40px;
	width: 58px;
	background: transparent url('pic/eye.png') no-repeat;
	position: absolute;
	top: 168px;
	right: 80px;
}

#eye-right-line{
	position: absolute;
	height: 10px;
	width: 80px;
	background-color: black;
	top: 168px;
	right: 60px;
}
#eye-left-line{
	position: absolute;
	height: 10px;
	width: 80px;
	background-color: black;
	top: 168px;
	right: 251px;
}

#eye-right-bow{
	height: 31px;
	width: 46px;
	background: transparent url('pic/eye-bow.png') no-repeat;
	position: absolute;
	top: 111px;
	right: 95px;
	opacity: 0;
	-webkit-transition-duration: 500ms;
	-moz-transition-duration: 500ms;
	transition-duration: 500ms;
}

#eye-left-bow{
	height: 31px;
	width: 46px;
	background: transparent url('pic/eye-bow.png') no-repeat;
	position: absolute;
	top: 111px;
	right: 285px;
	opacity: 0;
	-webkit-transition-duration: 500ms;
	-moz-transition-duration: 500ms;
	transition-duration: 500ms;
}

#eye-right-shine{
	height: 45px;
	width: 46px;
	background: transparent url('pic/eye-shine.png') no-repeat;
	position: absolute;
	top: 160px;
	right: 100px;
	opacity: 0;
	-webkit-transition-duration: 500ms;
	-moz-transition-duration: 500ms;
	transition-duration: 500ms;
}

#eye-left-shine{
	height: 45px;
	width: 46px;
	background: transparent url('pic/eye-shine.png') no-repeat;
	position: absolute;
	top: 160px;
	right: 290px;
	opacity: 0;
	-webkit-transition-duration: 500ms;
	-moz-transition-duration: 500ms;
	transition-duration: 500ms;
}

#mouth{
	height: 86px;
	width: 266px;
	background: transparent url('pic/mouth.png') no-repeat;
/*	margin: 50px auto;
*/	
	position: absolute;
	right: 68px;
	top: 210px;
	
	
/*	position: absolute;
	top: 280px;
	right: 10%;*/
}