/* sijie */
html{
	height: 100%;
}

body{
	background: white;
	height: 100%;
   
	background-image: url('../pic/subtle_dots_@2X.png');    
   
}
a{
	color: black;
}
a:hover{
	color: black;
	text-decoration: none;
}
.page-header{
	border: none;
}
.navbar{
	min-height: 70px !important;
}
.navbar .container{
	padding-top: 15px;
}
.navbar-default, .navbar-header{
	background: white;
	border: none;
	background-image: url('../pic/subtle_dots_@2X.png');    
}

.navbar-brand{
	color: white!important;
	font-size: 1.5em;
}
.navbar-default .navbar-nav>li>a{
	color: white!important;	
	background: black!important;
}
.navbar-nav>li.active a{
	border-bottom: 2px solid white;
}
.main .container:first-of-type{
	padding-top: 235px;	
}
.container img{
	max-width:400px;
}
.container p, .container h1, .container h2, #contact p a{
	color: black!important;
}
/* sijie content */
#work{
	display: none;
}



#work img{
	border: 1px solid white;
	margin: 0 10px 10px 0;
}

/* sijie bunny */

.bunny{
	background: transparent;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	height: 330px;
	z-index: 100;
	-webkit-transition-duration: 500ms;
	-moz-transition-duration: 500ms;
	transition-duration: 500ms;
}
#ear-top{
/*	margin: 0 auto;
*/	width: 92px;
	height: 46px;
	background: transparent url('../pic/ear-t.png') no-repeat 0 -2px;
/*	background-size: 120px;	*/
	
	position: absolute;
	right: 152px;
	top: 0px;
}
#ear-left{
	background-color: black;
	position: absolute;
	left: 0px;
	top: 50px;
	right: 400px;
	bottom: 0;
}
#ear-left-top{
	width: 46px;
	height: 75px;
	background: transparent url('../pic/ear-l-t.png') no-repeat;
	position: absolute;
	left: 0px;element.style {
}
#work img {
border: 1px solid white;
margin: 0 10px 10px 0;
}
.container img {
max-width: 400px;
}
img {
vertical-align: middle;
}
img {
border: 0;
}
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
img[Attributes Style] {
width: 100%;
}
Pseudo ::before element
:before, :after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
Pseudo ::after element
:before, :after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
Inherited from body
body {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;
background-color: #fff;
}
Inherited from html
html {
font-size: 62.5%;
-webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
font-family: sans-serif;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}
	top: 13px;
}
#ear-left-bottom{
	width: 46px;
	height: 75px;
	background: transparent url('../pic/ear-l-b.png') no-repeat;
	position: absolute;
	left: 0px;
	top: 50px;
}
#ear-right{
	width: 44px;
	height: 80px;
	background: transparent url('../pic/ear-r.png') no-repeat;
	position: absolute;
	right: 0px;
	top: 13px;
}


/*face*/
#face{
	position: relative;
	overflow: auto;
	height: 200px;
	margin: auto;
/*	margin-top: 30px;
*/	-moz-transform: translateY(-30%);
	background: rgb(255, 204, 0);
	border: 10px solid black;
	border-bottom: none;
}
#head-hit{
	height: 63px;
	width: 59px;
	background: transparent url('../pic/headhit.png') no-repeat;
	position: absolute;
	top: 38px;
	right: 312px;
	display: none;
}
#eye-left{
	height: 40px;
	width: 58px;
	background: transparent url('../pic/eye.png') no-repeat;
	position: absolute;
	top: 88px;
	right: 271px;
}
#eye-left-line{
	position: absolute;
	height: 10px;
	width: 80px;
	background-color: black;
	top: 88px;
	right: 251px;
}
/*#eye-left-bow{
	height: 31px;
	width: 46px;
	background: transparent url('../pic/eye-bow.png') no-repeat;
	position: absolute;
	top: 71px;
	right: 285px;
	opacity: 0;
	-webkit-transition-duration: 500ms;
	-moz-transition-duration: 500ms;
	transition-duration: 500ms;
}*/
#eye-left-shine{
	height: 45px;
	width: 46px;
	background: transparent url('../pic/eye-shine.png') no-repeat;
	position: absolute;
	top: 80px;
	right: 290px;
	opacity: 0;
	-webkit-transition-duration: 500ms;
	-moz-transition-duration: 500ms;
	transition-duration: 500ms;
}

#eye-right{
	height: 40px;
	width: 58px;
	background: transparent url('../pic/eye.png') no-repeat;
	position: absolute;
	top: 88px;
	right: 80px;
}

#eye-right-line{
	position: absolute;
	height: 10px;
	width: 80px;
	background-color: black;
	top: 88px;
	right: 60px;
}

/*#eye-right-bow{
	height: 31px;
	width: 46px;
	background: transparent url('../pic/eye-bow.png') no-repeat;
	position: absolute;
	top: 71px;
	right: 95px;
	opacity: 0;
	-webkit-transition-duration: 500ms;
	-moz-transition-duration: 500ms;
	transition-duration: 500ms;
}*/

#eye-right-shine{
	height: 45px;
	width: 46px;
	background: transparent url('../pic/eye-shine.png') no-repeat;
	position: absolute;
	top: 80px;
	right: 100px;
	opacity: 0;
	-webkit-transition-duration: 500ms;
	-moz-transition-duration: 500ms;
	transition-duration: 500ms;
}


#mouth{
	height: 40px;
	width: 266px;
	background: transparent url('../pic/face.png') no-repeat;
/*	margin: 50px auto;
*/	
	position: absolute;
	right: 68px;
	top: 130px;
	
	
/*	position: absolute;
	top: 280px;
	right: 10%;*/
}

#typewriter{
	width: 350px;
	font-size: 14px;
}
#typewriter a{
	text-decoration: underline;
}