/* sijie */
html{
	height: 100%;
}

body{
	background: white;
	height: auto;
   
	background-image: url('../pic/subtle_dots_@2X.png');    
}
h1{
	font-size:72px;
}
p.lead{
	padding: 20px 0;
}

p.subtitle{
	padding: 10px 0;
}
a{
	color: black;
}
a:hover{
	color: black;
	text-decoration: none;
}
.page-header{
	border: none;
}
.navbar{
	min-height: 70px !important;
}
.navbar .container{
	padding-top: 15px;
}
.navbar-default, .navbar-header{
	background: white;
	border: none;
	background-image: url('../pic/sjhead.jpg');    
}

.navbar-brand{
	color: white!important;
	font-size: 1.5em;
}
.navbar-default .navbar-nav>li>a{
	color: white!important;	
	background: black!important;
}
.navbar-nav>li.active a{
	border-bottom: 2px solid white;
}
.main{
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	text-align: center;
	padding-top: 140px;
	z-index: 999;
	position: relative;

}
.main h1{
    text-shadow: -8px 0 black, 0 8px black, 8px 0 black, 0 -8px black;
	
}
.main .container:first-of-type{

	text-align: center;

}
.container img{
	max-width:400px;
}
.container p, .container h1, .container h2, #contact p a{
	color: black!important;
}

.page-header h1, .page-header a{
	color: yellow!important;
}
.page-header a:hover{
	color: yellow!important;
}
.page-header{
	margin: 0!important;
}

/* sijie content */
#work{
	display: none;
}

#work img{
	border: 1px solid white;
	margin: 0 10px 10px 0;
}

/* sijie bunny */

.bunny{
	background: transparent;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	height: 330px;
	z-index: 100;
	-webkit-transition-duration: 500ms;
	-moz-transition-duration: 500ms;
	transition-duration: 500ms;
}

.sjbody {
/*	position: relative;
*/	margin: 0 auto;
/*	left: 10px;
	top: -100px;*/
	
	position: fixed;
	background-repeat: no-repeat;
	height: 780px;
	bottom: 0;

	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	display: none;
	
	/*background-image: url(../pic/subtle_dots_@2X.png);
	border-bottom: 32px solid #000*/
}

@media (min-width:768px){
	.sjbody {
		background-image: url('../pic/sjbody-2.png');
		background-position: -112px -239px;
	}
}

@media (min-width:992px) {
	.sjbody {
		background-image: url('../pic/sjbody-2.png');
		background-position: 47px -239px;
		left: 50%;
		margin-left: -476px;
		display: block;
		
	}
}
@media (min-width:1200px) {
	.sjbody {
		background-image: url('../pic/sjbody-2.png');
		background-position: 143px -239px;
		left: 50%;
		margin-left: -567px;
		display: block;
	}
}
	
/*face*/
#face{
	position: relative;
	overflow: auto;
	margin: auto;
	margin-top: 200px;
	height:420px;
	-moz-transform: translateY(-30%);
	border-bottom: none;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
#face-wrap{
	width: 370px;
	position: relative;
	overflow: auto;
	height: 170px;
	margin: auto;
}
#head-hit{
	height: 63px;
	width: 59px;
	background: transparent url('../pic/headhit.png') no-repeat;
	position: absolute;
	top: 38px;
	right: 312px;
	display: none;
}
#eye-left{
	height: 40px;
	width: 58px;
	background: transparent url('../pic/eye.png') no-repeat;
	position: absolute;
	top: 88px;
	right: 271px;
}
#eye-left-line{
	position: absolute;
	height: 10px;
	width: 80px;
	background-color: black;
	top: 88px;
	right: 251px;
}

#eye-left-shine{
	height: 45px;
	width: 46px;
	background: transparent url('../pic/eye-shine.png') no-repeat;
	position: absolute;
	top: 80px;
	right: 290px;
	opacity: 0;
	-webkit-transition-duration: 500ms;
	-moz-transition-duration: 500ms;
	transition-duration: 500ms;
}

#eye-right{
	height: 40px;
	width: 58px;
	background: transparent url('../pic/eye.png') no-repeat;
	position: absolute;
	top: 88px;
	right: 80px;
}

#eye-right-line{
	position: absolute;
	height: 10px;
	width: 80px;
	background-color: black;
	top: 88px;
	right: 60px;
}

#eye-right-shine{
	height: 45px;
	width: 46px;
	background: transparent url('../pic/eye-shine.png') no-repeat;
	position: absolute;
	top: 80px;
	right: 100px;
	opacity: 0;
	-webkit-transition-duration: 500ms;
	-moz-transition-duration: 500ms;
	transition-duration: 500ms;
}


#mouth{
	height: 40px;
	width: 267px;
	background: transparent url('../pic/face.png') no-repeat;
	position: absolute;
	right: 55px;
	top: 127px;
}

#nose{
	height: 40px;
	width: 40px;
	background: transparent url('../pic/nose.png') no-repeat;
	position: absolute;
	right: 174px;
	top: 130px;
	background-size: 40px;
	-webkit-transition-duration: 500ms;
	-moz-transition-duration: 500ms;
	transition-duration: 500ms;
}
#typewriter{
	width: 280px;
	font-size: 14px;
	margin: auto;
	height: 206px;
}
#typewriter p{
	text-align: center;
	font-size: 25px;
	width: auto;
	padding: 18px 0;
	border: 7px solid #000;
	border-top-width: 12px;
	border-bottom-width: 12px;
	background: yellow;
	min-height: 30px;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-right-radius: 80px;
	border-bottom-left-radius: 80px;
}
#typewriter a{
	text-decoration: underline;
}

#fullscreen_bg, #fullscreen_bg:after{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -100;
	background-size: cover;
	background-position: 50% 50%;
	
	
/*	filter:blur(8px);
	-webkit-filter: blur(8px);*/
	
	-webkit-transition: background-image 5s ease-out;
	-moz-transition: background-image 5s ease-out;
	-ms-transition: background-image 5s ease-out;
	-o-transition: background-image 5s ease-out;
	transition: background-image 5s ease-out;
	
}

/*#fullscreen_bg:after {
    content: '';
    background: transparent url('../pic/pattern.png') repeat top left;
}*/

#bg_title{
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 1;
}